{% extends "base.html" %}
{% load static %}

{% block content %}

<div class="container">
  
  <div class="main-car">
    <img src="{{ object.photo.url }}" alt="{{ object.model}} - {{ object.brand }}">
      <div class="car-info">
          <h1>{{ object.model }} - {{ object.brand }}</h1>
          <h2>{{ object.factory_year }}</h2>
          <p>Preço: R${{ object.value }}0</p>
          <h4>Descrição</h4>
          <p>{{ object.description }}</p>

          {% if user.is_authenticated %}
          <div class="btn-position">
            <a href="{% url 'car_update' pk=object.pk %}" class="custom-submit-btn">Editar</a>
            
          </div>
          {% endif %}
      </div>

  </div>

</div>

{% endblock %}