<!DOCTYPE html>
{% load static %}
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="icon" href="/media/flavicon/carro-esporte.png">
    <title>Prime Rodas</title>

</head>

<body>
    <header>
        <div class="cabecalho">
            <nav class="start">
                <a class="logo" href="#">Prime Rodas</a>
            </nav>
            <nav class="center">
                <a href="#">Veículos</a>

                <a href="#">Proprietários</a>
                <a href="#">Notícias</a>
            </nav>
            <nav class="end">
                <a href="#" style="background-color: #D4AF37; padding: 10px 20px; border-radius: 20px;">Comprar
                    Online</a>
            </nav>
        </div>



    </header>
    <div class="container">
        {% block content %}
        <div class="main-car">
            <img src="{{ car_main.photo.url }}" alt="Carro Principal">
            <div class="cars-info">
                <h1>{{ car_main.model}} - {{ car_main.model_year }}</h1>
                <h4>{{ car_main.brand }}</h4>
                <p>Preço: R${{ car_main.value }}0</p>
            </div>
        </div>


        <div class="car-list">
            
            {% for car in cars %}
            <div class="car-item">
                <img src="{{ car.photo.url }}" alt="Carro 1">
                <div class="car-info">
                    <h3>{{ car.model }} - {{ car.model_year }}</h3>
                    <span>{{ car.brand }}</span>
                    <p>Preço: R${{ car.value }}0</p>
                </div>
            </div>

            {% endfor %}
            {% endblock %}
        </div>
    </div>
    <footer>
        <p>&copy; 2024 Prime Rodas. Todos os direitos reservados.</p>
    </footer>
</body>

</html>