{% load static %}
<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="icon" href="/media/flavicon/carro-esporte.png">
    <title>Prime Rodas</title>
</head>

<body>
    <header>
        <div class="cabecalho">
            <nav class="start">
                <a class="logo" href="{% url 'cars_list' %}">Prime Rodas</a>
            </nav>
            <nav class="center">
                <a href="#">Veículos</a>
                {% if user.is_authenticated %}
                <a href="{% url 'new_car' %}">Registre seu carro</a>
                {% endif %}
                {% if not user.is_authenticated %}
                <a href="{% url 'register' %}">Cadastre-se</a>
                <a href="{% url 'login' %}">login</a>
                {% endif %}

                {% if user.is_authenticated %}
                <a href="{% url 'logout' %}">Sair</a>
                {% endif %}
            </nav>
            <nav class="end">
                <form method="GET" action="{% url 'cars_list' %}">
                    <input type="text" name="search" placeholder="Buscar por modelo..."
                        style="padding: 10px 20px; border-radius: 20px 0px 0px 20px;">
                    <button type="submit"
                        style="background-color: #D4AF37; padding: 10px 20px; border-radius: 0px 20px 20px 0px;">Buscar</button>
                </form>
            </nav>
        </div>
    </header>

    {% block content %}
    {% endblock %}


</body>
<footer>
    <p>&copy; 2024 Prime Rodas. Todos os direitos reservados.</p>
</footer>


</html>